{% extends 'AdminZone/CRUD.html.twig' %}

{% block title %}
    Admin Portfolio - Projets
{% endblock %}

{% block body %}
    {% block titrePage %}<h1 class="h1 text-center">Gestion des projets</h1>{% endblock %}

    {% block boutonAjouter %}
        <a href="/admin/gestiondesprojets/ajouter" class="btn btn-success margin-bottom-3" id="add-button">
            Ajouter un nouveau projet
        </a>
    {% endblock %}

    {% block table %}
        <table class="table table-bordered margin-bottom-5 table_crud">
            <thead class="table-info">
            <tr>
                <th class="align-middle text-center">Année</th>
                <th class="align-middle text-center">Nom</th>
                <th class="align-middle text-center">Description</th>
                <th class="align-middle text-center">Image</th>
                <th class="align-middle text-center">Technologies associées</th>
                <th class="align-middle text-center" colspan="3">Édition</th>
            </tr>
            </thead>
            <tbody>
            {% if tabError.error in tabError %}
                <script type="text/javascript">window.alert ("{{ tabError.error }}");</script>
            {% endif %}
            {% for projet in projets %}
                <tr>
                    <td  class="align-middle">{{ projet.year }}</td>
                    <td  class="align-middle">{{ projet.name }}</td>
                    <td  class="align-middle text-justify">{{ projet.description }}</td>
                    <td  class="align-middle">
                        <img src="/img/{{ projet.image_path }}" class="logos_crud" alt="Image du projet">
                    </td>
                    <td  class="align-middle">
                        <ul class="lists_crud">
                            {% for technologie in projet.technologies %}
                                <li>- {{technologie.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="align-middle" id="td-edition">
                        <a class="btn btn-info" href="/admin/gestiondesprojets/detail_projet/{{ projet.id }}">Voir</a>
                    </td>
                    <td class="align-middle" id="td-edition">
                        <a class="btn btn-success" href="/admin/gestiondesprojets/modifier/{{ projet.id }}">Modifier</a>
                    </td>
                    <td class="align-middle" id="td-edition">
                        <a class="btn btn-danger" href="/admin/gestiondesprojets/supprimer/{{projet.id }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}