{% extends 'Layout/formulaire.html.twig' %}


{% block title %}
    Admin Portfolio - Ajouter
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
{% endblock %}


{% block header %}
    {{ include("Layout/adminHeader.html.twig") }}
{% endblock %}

{% block titrePage %}
    <h1>Ajouter une nouvelle expérience</h1>
{% endblock %}

{% block formAction %}/admin/gestiondesexperiences{% endblock %}

{% block formulaire %}
    <div class="form-group">
        <div class="row">
            <h3>Dates</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="begin_at" class="control-label">Date de début de l'expérience</label>
            </div>
            <div class="col-lg-2">
                <input type="date" class="form-control" id="begin_at" name="begin_at" required>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
                <label for="end_at" class="control-label">Date de fin de l'expérience</label>
            </div>
            <div class="col-lg-2">
                <input type="date" class="form-control" id="end_at" name="end_at">
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <h3>Contrat</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="contrats" class="control-label">Type de contrat</label>
            </div>
            <div class="col-lg-2">
                <select class="form-control" name="contrat" id="contrat" required>
                    <option value="\"></option>
                    <optgroup label="">
                        <option value="CDD">CDD</option>
                        <option value="CDI">CDI</option>
                        <option value="CTT">CTT (Contrat de travail temporaire ou Intérim)</option>
                        <option value="CUI">CUI (Contrat unique d'insertion)</option>
                        <option value="CAE">CUI (Cotnrat d'accompagnement dans l'emploi)</option>
                        <option value="CIE">CIE (Contrat initiative emploi)</option>
                    </optgroup>
                    <optgroup label="Alternance">
                        <option value="Capprentissage">Contrat d'apprentissage</option>
                        <option value="Cprofessionnalisation">Contrat de professionnalisation</option>
                    </optgroup>
                    <optgroup label="Stage">
                        <option value="Stage">Stage</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <label for="name" class="control-label">Titre du poste occupé</label>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-control"  placeholder="Titre du poste" id="name" name="name" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <h3>Entreprise / Administration</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="entreprise" class="control-label">Nom de l'entreprise</label>
            </div>
            <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Nom de l'entreprise" id="entreprise" name="entreprise" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="ville" class="control-label">Ville</label>
            </div>
            <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Toulouse, Paris..." id="ville" name="ville" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="dep" class="control-label">Département</label>
            </div>
            <div class="col-lg-6">
                <select class="form-control" name="dep_id" id="dep" required>
                    {% for departement in departements %}
                        <option value="{{ departement.id_dep }}">({{ departement.code }}) {{ departement.departement }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="logo" class="control-label">Logo de l'entreprise</label>
            </div>
            <div class="col-lg-9">
                <input type="file" class="form-control-file" id="logo" name="logo" aria-describedby="aideInsertImage">
                <small id="aideInsertImage" class="form-text text-muted">Seuls les fichiers images sont admis (jpg, jpeg, png...)</small>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <h3>Projets réalisés lors de l'expérience</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="projets">Projets réalisés </label>
            </div>
            <div class="col-lg-6">
                <select multiple class="form-control" id="projets" name="projets[]" aria-describedby="aideAjout">
                    {% for projet in projets %}
                        <option value="{{ projet.id }}">{{ projet.name }}</option>
                    {% endfor %}
                </select>
                <small id="aideAjout" class="form-text text-muted">Pour sélectionner plusieurs projets, maintenez la touche CTRL enfoncée</small>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

{% endblock %}

{% block Boutton %}Enregistrer{% endblock %}

{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}