{% block header %}
    <header  id="header">
        <div class="row">
            <div class="col-3" id="logo">
                <a href="{{ path_for('userHomepage') }}">
                    <img src="/img/logos/WA.png" alt="logo-WA" id="WALogo"/>
                    <br/>
                    <img src="/img/logos/WA-text.png" alt="Web-atrio" id="WAText">
                </a>
            </div>
            <div class="col">
                <nav class="navbar navbar-toggleable-md" id="menuConnected">
                    <div class="navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="{{ path_for('userHomepage') }}" class="nav-link">Accueil<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path_for('userExperiences') }}" class="nav-link">Expériences</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path_for('userFormations') }}" class="nav-link">Formation</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path_for('userSkills') }}" class="nav-link">Compétences</a>
                            </li>
                        </ul>
                        <div class="navbar-nav">
                            <p class="justify-content-center">
                                <strong>
                                    Bonjour,
                                    <em>
                                        <a href="{{ path_for('my_account') }}" id="myusername">{{ user.username }}</a>
                                    </em>
                                </strong>
                                <br>
                                <a href="{{ path_for('logout') }}">Déconnexion</a>
                            </p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}