{% extends 'Layout/detailProjet.html.twig' %}


{% block title %}
    Elodie's Portfolio - detail projet
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/detailprojet.css">
{% endblock %}


{% block header %}
    {% if 'user' in session.roles %}
        {% include ('Layout/publicheaderConnected.html.twig') %}
    {% else %}
        {% include ('Layout/publicheader.html.twig') %}
    {% endif %}
{% endblock %}

{% for projet in projet %}
    {% block titreProjet %}{{ projet.name }}{% endblock %}

    {% block nomProjet %}{{ projet.name }}{% endblock %}

    {%  block anneeProjet %}{{ projet.year }}{% endblock %}

    {% block descriptionProjet %}{{ projet.description }}{% endblock %}

    {% block imageProjet %}{{ projet.image_path }}{% endblock %}


    {% block listeTechnologies %}
        {% for technology in technologies %}
        <div class="col-lg-2">
            <img src="/images/logos/{{ technology.image_path }}" alt="{{ technology.name }}" class="logosTechnos">
        </div>
        {% endfor %}
    {% endblock %}
{% endfor %}

{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}