{% extends 'Layout/index.html.twig' %}


{% block title %}
    Elodie's Portfolio - expériences
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/experiences.css">
{% endblock %}


{% block header %}
    {{ include("Layout/publicHeader.html.twig") }}
{% endblock %}


{% block body %}
    <div class="row">
        <h1>Mes expériences</h1>
    </div>
    <div class="row">
        <h2>Expériences professionnelles</h2>
    </div>
    <div class="row">
        <table class="table table-border">
            <thead>
                <tr>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Durée</th>
                    <th>Poste occupé</th>
                    <th>Type de contrat</th>
                    <th>Entreprise</th>
                    <th>Ville</th>
                    <th>Departement</th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody>
            {% for experience in experiences %}
                <tr>
                    <td>{{ experience.begin_at }}</td>
                    <td>{{ experience.end_at }}</td>
                    <td>{{ experience.duree }}</td>
                    <td>{{ experience.name }}</td>
                    <td>{{ experience.contrat }}</td>
                    <td>{{ experience.entreprise }}</td>
                    <td>{{ experience.ville }}</td>
                    <td>{{ experience.dep }}</td>
                    <td><img src="/images/{{ experience.logo }}" class="logos" alt="logo de l'entreprise"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>






    <div class="row">
        <h2>Projets réalisés</h2>
    </div>

    <div class="row">
        {% for projet in projets %}
    <!-- NEW CARD !-->
        <div class="card col-lg-3">
            <div class="thumbnail">
                <img class="card-img-top" src="/images/{{ projet.image_path }}" alt="Card image cap">
            </div>
            <div class="card-block">
                <h4 class="card-title">{{ projet.name }}</h4>
                <p class="card-text">{{ projet.description }}</p>
                <a href="/detailprojet?id={{ projet.id }}" class="btn btn-primary">Plus de détails</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}


{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}