{% extends 'Layout/index.html.twig' %}


{% block title %}
    Elodie's Portfolio - formation
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/formation.css">
{% endblock %}


{% block header %}
    {% if 'user' in session.roles %}
        {% include ('Layout/publicheaderConnected.html.twig') %}
    {% else %}
        {% include ('Layout/publicheader.html.twig') %}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="row">
        <h1>Ma formation</h1>
    </div>
    {% for formation in formations %}
        <div class="row zones">
            <div class="col-lg-2 logos">
                <img src="/images/{{ formation.logo }}" class="logosformations" alt="Logo de l'établissement">
            </div>
            <div class="col-lg-8 descriptions">
                <p>
                    <strong>{{ formation.name }}</strong> {{ formation.mention }}<br>
                    {{ formation.etablissement }}<br>
                    {{ formation.ville }}, {{ formation.dep }}
                </p>
            </div>
            <div class="col-lg-2 annees">
                <h3>{{ formation.date }}</h3>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}