{% extends 'Layout/formulaire.html.twig' %}


{% block title %}
    Admin Portfolio - Modifier
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
{% endblock %}


{% block header %}
    {{ include("Layout/adminHeader.html.twig") }}
{% endblock %}

{% block titrePage %}
    <h1>Modifier la technologie</h1>
    <h4>{{ technology.name }}</h4>
{% endblock %}

{% block action %}/admin/gestiondestechnologies{% endblock %}

{% block formulaire %}
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <label for="nomTechno" class="control-label">Nom de la technologie</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" id="nomTechno" value="{{ technology.name }}" required>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="insertLogoTechno" class="control-label">Logo de la technologie</label>
                </div>
                <div class="col-lg-9">
                    <input type="file" class="form-control-file" name="image_path" id="insertLogoTechno" value="{{ technology.image_path }}" aria-describedby="aideInsertLogo" required>
                    <small id="aideInsertLogo" class="form-text text-muted">Seuls les fichiers images sont admis (jpg, jpeg, png...)</small>
                </div>
            </div>
        </div>
{% endblock %}

{% block Boutton %}Enregistrer{% endblock %}

{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}