{% extends 'Layout/index.html.twig' %}

{% block title %}
    Elodie's Portfolio - expériences
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/publicPages.css">
{% endblock %}

{% block header %}
    {% if 'user' in user.roles %}
        {% include ('UsersZone/Headers/userHeader.html.twig') %}
    {% else %}
        {% include ('UsersZone/Headers/publicHeader.html.twig') %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row justify-content-center padding-bottom-3">
        <h1 class="h1 text-center">Mes expériences</h1>
    </div>

    <div class="row">
        <h2 class="h2 padding-bottom-3">Expériences professionnelles</h2>
    </div>
    <div class="row padding-bottom-3">
        <table class="table table-border">
            <thead class="thead-default">
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Durée</th>
                <th>Poste occupé</th>
                <th>Type de contrat</th>
                <th>Entreprise</th>
                <th>Ville</th>
                <th>Departement</th>
                <th>Logo</th>
            </tr>
            </thead>
            <tbody>
            {% for experience in experiences %}
                <tr>
                    <td scope="row">{{ experience.begin_at }}</td>
                    <td>{{ experience.end_at }}</td>
                    <td>{{ experience.duree }}</td>
                    <td>{{ experience.name }}</td>
                    <td>{{ experience.contrat }}</td>
                    <td>{{ experience.entreprise }}</td>
                    <td>{{ experience.ville }}</td>
                    <td>{{ experience.code }}</td>
                    <td><img src="/img/{{ experience.image_path }}" class="logos text-center" alt="logo de l'entreprise"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="row">
        <h2 class="h2 padding-bottom-3">Projets réalisés</h2>
    </div>

    <div class="row">
        {% for project in projects %}
            <!-- NEW CARD !-->
            <div class="card col-3">
                <div class="thumbnail text-center">
                    <img class="card-img-top" src="/img/{{ project.image_path }}" alt="Card image cap">
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{ project.name }}</h4>
                    <p class="card-text text-justify">{{ project.description }}</p>
                    {% if 'user' in user.roles %}
                        <a href="{{ path_for('userProjectDetail', {'id' : project.id }) }}" class="btn btn-primary">Plus de détails</a>
                    {% else %}
                        <a href="{{ path_for('publicProjectDetail', {'id' : project.id }) }}" class="btn btn-primary">Plus de détails</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}