{% extends 'Layout/index.html.twig' %}

{% block title %}
    Elodie's Portfolio - détail projet
{% endblock %}

{% block header %}
    {% if 'admin' in user.roles %}
        {% include ('AdminZone/adminHeader.html.twig') %}
    {% elseif 'user' in user.roles %}
        {% include ('UsersZone/Headers/userHeader.html.twig') %}
    {% else %}
        {% include ('UsersZone/Headers/publicHeader.html.twig') %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/publicPages.css">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary" id="goBack">Retour</button>
        </div>
        <div class="col-11 text-center">
            <h1 class="h1"> Détail du projet</h1>
            <h3 class="h2 padding-bottom-3 subtitle">{{ project.name }}</h3>
        </div>
    </div>

    <div class="row text-center margin-bottom-3" id="imgdiv">
        <img src="/img/{{ project.image_path }}" alt="screenshot projet" class="img-fluid mx-auto" id="imageProject">
    </div>

    <div class="row">
        <div class="col-4">
            <p><span class="font-weight-bold">Nom du projet :</span> {{ project.name }}</p>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <p><span class="font-weight-bold">Année de réalisation :</span> {{ project.year }}</p>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p><span class="font-weight-bold">Description du projet :</span> {{ project.description }}</p>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p><span class="font-weight-bold">Technologies utilisées pour réaliser ce projet :</span></p>
            <br/>
        </div>
    </div>
    <div class="row padding-bottom-3">
        {% for skill in skills %}
            <div class="col-2 padding-3">
                <img src="/img/{{ skill.image_path }}" alt="{{ skill.name }}" class="logosTechnos">
            </div>
        {% endfor %}
    </div>
{% endblock %}
