{% extends 'AdminZone/CRUD.html.twig' %}

{% block title %}
    Admin Portfolio - Compétences
{% endblock %}

{% block body %}
    {% block titrePage %}<h1 class="h1 text-center">Gestion des compétences</h1>{% endblock %}

    {% block boutonAjouter %}
        <a href="/admin/gestiondescompetences/ajouter" class="btn btn-success margin-bottom-3" id="add-button">
            Ajouter une nouvelle compétence
        </a>
    {% endblock %}

    {% block table %}
        <div class="row d-flex justify-content-end">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" id="crud-tout" href="#">Tout afficher</a></li>
                    <li class="page-item"><a class="page-link" id="crud-bureautique" href="#">Bureautique</a></li>
                    <li class="page-item"><a class="page-link" id="crud-developpement" href="#">Développement</a></li>
                    <li class="page-item"><a class="page-link" id="crud-graphisme" href="#">Graphisme</a></li>
                    <li class="page-item"><a class="page-link" id="crud-langues" href="#">Langues</a></li>
                </ul>
            </nav>
        </div>

        <table class="table table-bordered margin-bottom-5">
            <thead class="table-info">
            <tr>
                <th class="align-middle text-center">Nom compétence</th>
                <th class="align-middle text-center">Niveau de maîtrise</th>
                <th class="align-middle text-center">Logo</th>
                <th class="align-middle text-center">Catégorie</th>
                <th class="align-middle text-center" colspan="2">Édition</th>
            </tr>
            </thead>
            <tbody>
            {% if tabError.error in tabError %}
                <script type="text/javascript">window.alert ("{{ tabError.error }}");</script>
            {% endif %}
            {% for skill in skills %}
                <tr class="{{ skill.category | lower  }}">
                    <td  class="align-middle">{{ skill.name}}</td>
                    <td  class="align-middle text-center">
                        {% if  skill.level == '' %}

                        {% elseif  skill.level == '1' %}
                            Débutant
                        {% elseif skill.level == '2' %}
                            Intermédiaire
                        {% elseif skill.level == '3' %}
                            Confirmé
                        {% else %}

                        {% endif %}

                    </td>
                    <td  class="align-middle text-center">
                        <img src="/img{{ skill.image_path }}" class="text-center logos_crud" alt="Logo compétence">
                    </td>
                    <td  class="align-middle text-center">{{ skill.category }}</td>
                    <td class="align-middle text-center" id="td-edition">
                        <a class="btn btn-success" href="/admin/gestiondescompetences/modifier/{{ skill.id }}">Modifier</a>
                    </td>
                    <td class="align-middle text-center" id="td-edition">
                        <a class="btn btn-danger" href="/admin/gestiondescompetences/supprimer/{{ skill.id }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}