{% extends 'AdminZone/CRUD.html.twig' %}

{% block title %}
    Admin Portfolio - Technologies
{% endblock %}

{% block body %}
    {% block titrePage %}<h1 class="h1 text-center">Gestion des technologies</h1>{% endblock %}

    {% block boutonAjouter %}
        <a href="/admin/gestiondestechnologies/ajouter" class="btn btn-success margin-bottom-3" id="add-button">
            Ajouter une nouvelle technologie
        </a>
    {% endblock %}

    {% block table %}
        <table class="table table-bordered margin-bottom-5">
            <thead class="table-info">
            <tr>
                <th class="align-middle text-center">Nom technologie</th>
                <th class="align-middle text-center">Logo</th>
                <th class="align-middle text-center" colspan="2">Édition</th>
            </tr>
            </thead>
            <tbody>
            {% if tabError.error in tabError %}
                <script type="text/javascript">window.alert ("{{ tabError.error }}");</script>
            {% endif %}
            {% for technology in technologies %}
                <tr>
                    <td  class="align-middle">{{ technology.name }}</td>
                    <td  class="align-middle text-center">
                        <img src="/img/{{ technology.image_path }}" class="text-center logos_crud" alt="Logo technologie">
                    </td>
                    <td class="align-middle text-center" id="td-edition">
                        <a class="btn btn-success" href="/admin/gestiondestechnologies/modifier/{{ technology.id }}">Modifier</a>
                    </td>
                    <td class="align-middle text-center" id="td-edition">
                        <a class="btn btn-danger" href="/admin/gestiondestechnologies/supprimer/{{ technology.id }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}