{% extends 'Layout/gestion.html.twig' %}


{% block title %}
    Admin Portfolio - Projets
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/CRUD.css">
{% endblock %}


{% block header %}
    {{ include("Layout/adminHeader.html.twig") }}
{% endblock %}

{% block titrePage %}
    <h1>Gestion de mes projets</h1>
{% endblock %}

{% block boutonAjouter %}
    <a href="/admin/gestiondesprojets/ajouter" class="btn btn-success ajouterUneNouvelleEntite">
        Ajouter un nouveau projet
    </a>
{% endblock %}

{% block thead %}
    <th>Année de réalisation</th>
    <th>Nom du projet</th>
    <th>Description du projet</th>
    <th>Image du projet</th>
    <th>Liste des technologies</th>
{% endblock %}

{% block tbody %}
    {% if tabError.error in tabError %}
        <script type="text/javascript">window.alert ("{{ tabError.error }}");</script>
    {% endif %}
    {% for projet in projets %}
        <tr>
            <td>{{ projet.year }}</td>
            <td>{{ projet.name }}</td>
            <td class="descriptionProjet">{{ projet.description }}</td>
            <td>
                <img src="/images/{{ projet.image_path }}" class="logos" alt="photo du projet">
            </td>
            <td>
                <ul class="listeTechnos">
                    {% for technologie in projet.technologies %}
                        <li>- {{technologie.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a class="btn btn-default" href="gestiondesprojets/detail_projet?id={{ projet.id }}">Voir</a>
            </td>
            <td>
                <a class="btn btn-success" href="/admin/gestiondesprojets/modifier?id={{ projet.id }}">Modifier</a>
            </td>
            <td>
                <a class="btn btn-danger" href="/admin/gestiondesprojets/supprimer/{{ projet.id }}">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ include("Layout/footer.html.twig") }}
{% endblock %}